.movie-detail {
  color: #fff;
  overflow-x: hidden;
}

.movie-background {
  position: relative; /* clave para que el overlay se posicione dentro */
}

.movie-background img {
  width: 100%;
  height: 100vh;
  object-fit: cover;
  filter: brightness(60%);
}

.movie-overlay {
  position: absolute;
  top: 50%;
  left: 5%;
  max-width: 600px;
}

.movie-title {
  font-size: 3rem;
  font-weight: bold;
}

.movie-info {
  color: #ccc;
  margin-bottom: 1rem;
}

.movie-description {
  margin-bottom: 1.5rem;
}

.movie-buttons {
  display: flex;
  gap: 1rem;
}

/* Botones */
.btn-play {
  background-color: #e50914;
  color: #fff;
  border: none;
  padding: 0.6rem 1.2rem;
  border-radius: 20px;
  font-weight: bold;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.btn-secondary {
  background-color: rgba(255,255,255,0.2);
  color: #fff;
  border: none;
  padding: 0.6rem 1.2rem;
  border-radius: 20px;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

/* Layout debajo */
.movie-layout {
  display: flex;
  gap: 2rem;
  max-width: 1200px;
  margin: 2rem auto;
  padding: 1rem;
}

.movie-left {
  flex: 2;
}

.movie-right {
  flex: 1;
  background-color: #181111;
  padding: 1rem;
  border-radius: 10px;
}

.movie-right div {
  border: 1px solid #411315;
  background-color: #2b1213;
  /* height: 50%; */
  margin-bottom: 10px;
  border-radius: 8%;
  padding: 20px;
}

.movie-right div ul li img {
  width: 30%;
  margin-right: 10px;
  margin-bottom: 10px;
  border-radius: 8px;
}

.movie-right ul {
  list-style-type: none;
  padding-left: 0;
  margin: 0;
}

.movie-right li {
  display: flex;
  list-style: none;
    
}

.elenco {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
  text-align: center;
  align-content: center;
}

.elenco img {
  width: 50%;
  height: 50%;
  border-radius: 50%;
}

.titulo1 {
  font-weight: bold;
  
  margin: 10px 0 0 0;
}

.titulo2 {
  font-weight: bold;
  color: grey;
  margin: 0
}

h2 {
  color: #e50914;
  font-size: medium;
}