* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html body {
    background: #120808;
}

.Title {
    text-align: center;
    padding: 85px 0 50px;
}

h1 {
    font-family: fantasy;
    font-weight: 300;
    font-size: 58px;
}

.Titulo {
    color: white;
}

.Titulo-Rojo {
    color: #ea2a33;
}

.Parrafo {
    font-size: 18px;
    margin: 0;
    color: #8c9aad;
}

.Contenedor {
    display: flex;
    justify-content: center;
    gap: 32px;
    margin-bottom: 88px;
}

.Card {
    margin-top: 25px;
    width: 354px;
    height: 436px;
    border-radius: 30px;
    border: 1.5px solid #261515;
    background-color: #170c0c;
    padding: 25px;
}

.Card:hover {
    box-shadow:0 0 10px 1px #370c0c;
    transform: translateY(-5px);
    transition: calc(0.3s);
}

.Card-Rojo {
    width: 354px;
    height: 436px;
    border-radius: 30px;
    border: 2.5px solid #e92a33;
    background-color: #1c0f0f;
    padding: 25px;
}

.Card-Rojo:hover {
    box-shadow: 0 0 12px 0px #e92a33;
    transform: translateY(-5px);
    transition: calc(0.3s);   
}

h2 {
    font-size: 20px;
    margin-bottom: 15px;
    font-weight: 800;
    font-family: revert;
}

h3 {
    font-size: 38px;
    font-family: fantasy;
    margin-bottom: 5px;
}

.Mes {
    font-size: 16px;
    color: #8c9aad;
    font-family: poppins;
}

.Letras {
    color: #8c9aad;
    margin-bottom: 19px;
}

li {
    list-style: none;
    margin-bottom: 17px;
}

.Icono {
    color: #e92a33;
    font-size: 19px;
}

.Text {
    font-size: 15px;
    margin-left: 15px;
}

.Icono-Tachado {
    font-size: 19px;
}

.Text-Tachado {
    font-size: 15px;
    margin-left: 15px;
    text-decoration: line-through;
}

.Plan {
    text-align: center;
    padding: 11px;
    width: 100%;
    border-radius: 15px;
    border: none;
    background-color: #2a1818;
    margin-top: 10px;
    font-size: 16px;
}

.Plan:hover {
    transform: translateY(-2px);
    box-shadow: 0 5px 10px #550909;
}

.Plan-Rojo {
    text-align: center;
    padding: 11px;
    width: 100%;
    border-radius: 15px;
    border: none;
    background-color: #ea2a33;
    margin-top: 10px;
    font-size: 16px;
}

.Plan-Rojo:hover {
    transform: translateY(-2px);
    box-shadow: 0 5px 7px rgba(255, 255, 255, 0.705);
}

h4 {
    text-align: center;
    font-size: 27px;
    font-family: system-ui;
    font-weight: bold;
    margin-bottom: 56px;
}

.Centrar{
max-width: 765px;
margin: auto;
padding-bottom: 75px;
}

.Preguntas {
    font-size: 18px;
    text-align: start;
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #261515;
    list-style: none;
}

.Interior{
    font-size: 15px;
    color: #8c9aad;
    border: 1px solid #261515;
    margin-top: 12px;
    padding: 12px 14px;
    background-color: #191010;
    border-radius: 8px;
}

summary::-webkit-details-marker {
  display: none;
}

summary::after {
  content: "›";
  color: #f52c35;
  font-size: 22px;
  font-family: cursive;
  float: right;
  transform: rotate(90deg);
  transition: transform 0.3s ease;
}

details[open] summary::after {
  transform: rotate(-90deg); 
}