* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html body {
    background: #120808;
}

.Title {
    text-align: center;
    padding: 85px 0 50px;
}

h1 {
    font-family: fantasy;
    font-weight: 300;
    font-size: 58px;
}

.Titulo {
    color: white;
}

.Titulo-Rojo {
    color: #ea2a33;
}

.Parrafo {
    font-size: 18px;
    margin: 0;
    color: #8c9aad;
}

.Contenedor {
    display: flex;
    justify-content: center;
    gap: 32px;
}

.Card {
    margin-top: 25px;
    width: 354px;
    height: 436px;
    border-radius: 30px;
    border: 1.5px solid #261515;
    background-color: #170c0c;
    padding: 25px;
}

.Card-Rojo {
    width: 354px;
    height: 436px;
    border-radius: 30px;
    border: 2.5px solid #e92a33;
    background-color: #1c0f0f;
    padding: 25px;
}

h2 {
    font-size: 20px;
    margin-bottom: 15px;
    font-weight: 800;
    font-family: revert;
}

h3 {
    font-size: 38px;
    font-family: fantasy;
    margin-bottom: 5px;
}

.Mes {
    font-size: 16px;
    color: #8c9aad;
    font-family: poppins;
}

.Letras {
    color: #8c9aad;
    margin-bottom: 19px;
}