body {
  font-family: "Poppins", sans-serif;
  background-color: var(--color-background-main);
  color: var(--color-text-primary);
}
:root {
  --color-primary: #ea2a33;

  --color-text-primary: #f8f6f6;

  --color-background-main: #181111;

  --color-background-secondary: #211111;

  --color-background-tertiary: #382929;

  --color-background-deep: #1a0f0f;
}
